body{margin: 0px;}

.header > .container {
    height: 84px;
    display: flex;
    align-items: center;
}

#my_name {
    flex: 1;
}
.footer {
    text-align: center
}

.work.container{
    display: flex;
    flex-wrap: wrap;
}
.work_tile {
    flex: 1 0 50%;
    min-height: 375px;
    min-width: 375px;
}
